name: PR

on:
  pull_request:

jobs:
  test:
    uses: wesflo/gh-actions-workflows/.github/workflows/test-coverage.yml@v1
    with:
      workdir: ${{ vars.WORKDIR || '.' }}
      node_version: ${{ vars.NODE_VERSION || '20' }}

  yeyy:
    runs-on: ubuntu-latest
    needs: test
    if: ${{ needs.test.result == 'success' }}
    steps:
      - run: echo "Yeyy"

  ohhh:
    runs-on: ubuntu-latest
    needs: test
    if: ${{ always() && needs.test.result == 'failure' }}
    steps:
      - run: echo "ohhh"
