name: PR

on:
  pull_request:

jobs:
  test:
    uses: wesflo/gh-actions-workflows/.github/workflows/test-coverage.yml@main
    with:
      workdir: ${{ vars.WORKDIR || '.' }}
      node_version: ${{ vars.NODE_VERSION || '20' }}


