name: Release (labels -> version)

on:
  push:
    branches: ["main"]

permissions:
  contents: write
  packages: write
  pull-requests: read

concurrency:
  group: release-main
  cancel-in-progress: false

jobs:
  test:
    # verhindert Loop bei release-commits vom Bot
    if: ${{ github.actor != 'github-actions[bot]' && !contains(github.event.head_commit.message, 'chore(release):') }}
    uses: wesflo/gh-actions-workflows/.github/workflows/test-coverage.yml@main
    with:
      workdir: ${{ vars.WORKDIR || '.' }}
      node_version: ${{ vars.NODE_VERSION || '20' }}
      test_command: "npm run test:c"

  build-lib:
    uses: wesflo/gh-actions-workflows/.github/workflows/build.yml@main
    with:
      workdir: ${{ vars.WORKDIR || '.' }}
      node_version: ${{ vars.NODE_VERSION || '20' }}
      build_command: "npm run build"
      upload_artifacts: true
      artifact_name: "dist-lib"

  build-iife:
    uses: wesflo/gh-actions-workflows/.github/workflows/build.yml@main
    with:
      workdir: ${{ vars.WORKDIR || '.' }}
      node_version: ${{ vars.NODE_VERSION || '20' }}
      build_command: "npm run build:iife"
      upload_artifacts: true
      artifact_name: "dist-iife"

  publish:
    name: Publish to Registry
    needs: [test, build-lib, build-iife]
    uses: wesflo/gh-actions-workflows/.github/workflows/publish.yml@main
    with:
      workdir: ${{ vars.WORKDIR || '.' }}
      node_version: ${{ vars.NODE_VERSION || '20' }}
      npm_scope: "@wesflo"
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.GH_PACKAGES_TOKEN }}
