name: Release

on:
  push:
    branches: ["main"]

permissions:
  contents: write
  packages: write
  pull-requests: read
  id-token: write

jobs:
  release:
    uses: wesflo/gh-actions-workflows/.github/workflows/release-npm-iife.yml@main
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
      AWS_ROLE_ARN_PREPROD: ${{ secrets.AWS_ROLE_ARN_PREPROD }}
      AWS_ROLE_ARN_PROD: ${{ secrets.AWS_ROLE_ARN_PROD }}